.DS_Store# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment variables
.env

# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build directories
build/
dist/
